<tr class="nested-fields">
  <td width="20%">
    <%= f.association :laboratorio, label: false, class: 'col-md-4 form-control' %>
  </td>
  <td width="15%">
    <%= f.text_field :nome, class: 'col-md-3 form-control' %>
  </td>
  <td width="10%">
    <%= f.text_field :tipo_exame, class: 'col-md-3 form-control' %>
  </td>
  <th>
    <%= link_to_remove_association f, class: 'btn btn-danger btn-mini' do %>
      <i class='fa fa-trash-o'></i> Remover
    <% end %>
  </th>
</tr>
