<div  class="box-body">
  <div class="card card-outline card-danger">
    <div class="card-header with-border">
      <h3 class="card-title">
        <strong>
          Exame(s)
        </strong>
      </h3>
    </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped bootstrap-table-paginated">
              <thead>
                <tr>
                  <th class='text-center'>Nome</th>
                  <th class='text-center'>Tipo</th>
                  <th class='text-center'>Status</th>
                  <th class='text-center'>Ações</th>
                </tr>
              </thead>
            <tbody>
              <% @exames.each do |exame| %>
                <tr>
                  <td class='text-center'><%= exame.nome %></td>
                  <td class='text-center'><%= exame.tipo %></td>
                  <td class='text-center'><%= exame.status %></td>
                  <td class='text-center'>
                    <%= render 'shared/action_links', object: exame %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
